# sample profiles.yml file
test_datastore:
  target: dev
  outputs:
    "{{ env_var('ENVIRONMENT') }}":
      type: "{{ env_var('DATABASE') }}"
      host: localhost
      user: "{{ env_var('USERNAME') }}"
      password: "{{ env_var('CREDENTIALS') }}"
      port: 1234
      dbname: test_db
      schema: sandbox_schema
      threads: 2


